li input[type=checkbox]{
  background-color: rgb(100, 193, 34);
  color: rgb(100, 193, 34);
  font-size: 15px;
}

input{
  color:firebrick;
}

li{
  display: block;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid rgb(0, 0, 0);
  font-size:16px;
  height: 30px;
  width: 400px;
  list-style-type: none;
}

span{
  margin-left: 20px;
}