li{
  display: block;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid rgb(0, 0, 0);
  font-size:16px;
  height: 30px;
  width: 400px;
  list-style-type: none;
}

span{
  margin-right: 20px;
  float: right;
}

.hidden-box:checked + .check--label {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.6);
  }