/* .close-btn{
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px;
  color: #000;
  transition: color .3s;
  font-size: 2em;
  line-height: 1.5;
  font-weight: 700;
} */

/* .addtodo-form{
  position: fixed;
  padding: 10px;
  max-width: 500px;
  border-radius: 0.5em;
  top: 50%;
  left: 50%;
  color: #000;
  transform: translate(-50%, -50%);
  background-color: rgba(255,255,255,1);
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s, visibility 0s linear .5s;
  z-index: 1;
} */