.contactsbook-header{
    text-align: center;
    font-size: 30px;
    color: white;
    background-color: black;
    padding: 5px;
}

.contactsbook-container{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}